#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
                &kp A &kp B &kp C
                &kp D &kp E &kp F
            >;
        };
        nav_layer {
            bindings = <
                &kp LEFT  &kp RIGHT  &trans
                &kp UP    &kp DOWN   &mo 3
            >;
        };
        num_layer {
            bindings = <
                &kp N1    &kp N2     &trans
                &kp N3    &kp N4     &trans
            >;
        };
        fn_layer {
            bindings = <
                &kp F1    &kp F2     &trans
                &kp F3    &kp F4     &trans
            >;
        };
    };
}; 