#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        sk: sticky_key {
            compatible = "zmk,behavior-sticky-key";
            #binding-cells = <1>;
            bindings = <&kp>;
            release-after-ms = <1000>;
            quick-release;
            ignore-modifiers;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &sk LSHIFT  &sk LCTRL   &sk LALT
                &sk LGUI    &kp A       &kp B
            >;
        };

        function_layer {
            bindings = <
                &sk F1      &sk F2      &sk F3
                &trans      &trans      &trans
            >;
        };
    };
};
