// File: mac_home_row_mods.keymap

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                // Row 1: Q W E R T Y U I O P
                &kp Q &kp W &kp E &kp R &kp T &kp Y &kp U &kp I &kp O &kp P

                // Row 2: A S D F G H J K L ;
                &mt LGUI A  &mt LALT S  &mt LCTL D  &mt LSFT F  &kp G
                &kp H  &mt RSFT J  &mt RCTL K  &mt RALT L  &mt RGUI SEMI

                // Row 3: Z X C V B N M , . /
                &kp Z &kp X &kp C &kp V &kp B &kp N &kp M &kp COMMA &kp DOT &kp SLASH
            >;
        };
    };
}; 